{% extends "ffBase.html" %}

{% block content %}
		<h1>Delete A CSV</h1>
		<form method= "post">
		<table>
			<tr>
				<td class="label">Select Week</td>
					<td>
					<select id="week" name="week">
						{% for num in range(1,18) %}
							<option value="Week {{num}}">Week {{num}}</option>
						{%endfor%}
					</select>
					<td>
				<td>
			</tr>
			<tr>
				<td class="label">Select Position</td>
					<td>
					<select id="position" name="position">
						<option value="QB">QB</option>
						<option value="RB">RB</option>
						<option value="TE">TE</option>
						<option value="WR">WR</option>
						<option value="Offense">Offense</option>
						<option value="Defense">Defense</option>
						<option value="Vegas">Vegas</option>
						<option value="Fanduel">Fanduel</option>
					</select>
					<td>
				<td>
			</tr>
			</table>
			<input type="submit">
		<form>
		<div>
		<a href="/upload" class="main-title">Upload a CSV</a> <a href="/generate" class="main-title">Generate</a>
		</div>
{% endblock %}