{% extends "ffBase.html" %}

{% block content %}
		<h1>Welcome, {{username}}! </h1>
		<form  method= "get">
		<table>
			<tr>
				<td class="label">Select Week:</td>
					<td>
					<select id="week" name="week">
						{% for num in range(1,18) %}
							<option value="Week {{num}}">Week {{num}}</option>
						{%endfor%}
					</select>
				<tr>
					<td class="label">Select Position:</td>
						<td>
						<select id="position" name="position">
							<option value="QB">QB</option>
							<option value="RB">RB</option>
							<option value="TE">TE</option>
							<option value="WR">WR</option>
						</select>
						</td>
					</td>
				</tr>
					</td>
					<td class="error">
						{{weekBool}}
					</td>
				</td>
			</tr>
			</table>
			<input type="submit" value="List My Preferences" formmethod="get">
		</form>
		<br>
		{% if players != None %}
			<form>
				<table border="1">
				<td>  Name  </td><td>  Projected Points  </td><td>  Exclude?  </td>
				{% for player in players %}
					<tr>
					<td>  {{  player['name']  }}  </td>
					<td>  {{  player['expectedScore']  }}  </td>
						{% if player['name'] in excluded %}
							<td><input type="checkbox" id="excluded" checked name="excluded" value="{{player['name']}}">
							<label for="excluded">  Exclude  </label></td>
						{% else %}
							<td><input type="checkbox" id="excluded" name="excluded" value="{{player['name']}}">
							<label for="excluded" >  Exclude  </label></td>
						{%endif%}
					</tr>
				{%endfor%}
				</table>
				<br>
				<input type="submit" name="Submit Preferences" value="Submit Preferences" formmethod="post">
			</form>
			<br>
		{%else %}
		{% endif %}
			<form>
			Insert Salary (50000-60000):<input type="number" name="salary" min="50000" max="60000">
			<br>
			<input type="submit" name="Get Lineup" value="Get Lineup" formmethod="post">
			</form>
			<div>
			</div>
		
{% endblock %}