<html>
  <head>
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
		  
		  <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
			{{userBool}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{passwordBool}}
          </td>
        </tr>

      </table>

      <input type="submit">
    </form>
  </body>
<footer>
	<table>
	<td><a href="/home" class="main-title">Home</a></td>
	<td><a href="/login" class="main-title">Login</a></td>
	<td><a href="/logout" class="main-title">Logout</a></td>
	<td><a href="/signup" class="main-title">Sign Up</a></td>
</footer>
</html>